{% extends "base.html" %}
{% load static %}

{% block contenu %}

{% block admin_menu %}
<div id="admin_menu">
<ul>
  <li id="lien_resultats"><a href="/administration/resultats" >Résultats</a></li>
  <li id="lien_epreuves"><a href="/administration/epreuves">Épreuves</a></li>
  <li id="lien_etudiants"><a href="/administration/etudiants">Étudiants</a></li>
</ul>
</div>
{% endblock %}

<div id=admin_contenu>
{% block admin_contenu %} 
{% endblock%} <!-- admin_contenu -->
</div>

{% endblock %} <!-- contenu -->

{% block classement %}
{% endblock %}
