{% extends "base.html" %}
{% load static %}

{% block contenu %}
<script src="{% static 'js/js.cookie.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/pyodide/v314.0.0/full/pyodide.js"></script>

<div id=overlay_loading>
  <div class=loader>
  </div>
   <div id="chargement_python">
     Chargement de Python
   </div> 
</div>

<div id="div_images" onclick="$('#div_images').hide()">
  <div id="image-container">
  </div>
<div id=drop-area-container>
<div id=drop-area onclick=importImage()>
    <i class="fa-solid fa-cloud-arrow-up"></i>
</div></div>
</div>

<div class=notification>
  <div id="btnClose" onclick="hideNotif()"><i class="fa-regular fa-circle-xmark"></i></div>
  <div id="message"> 
  </div>
</div>
<section id="section_edit_epreuve">
  <div>
    <p><a href="/domaine/{{ epreuve.chapitre.domaine.id }}/">Retour</a></p>
    <span>Titre</span><input type="text" id="inputTitre" value="{{ epreuve.titre|safe }}"></input>
    <span>Etoiles</span><input type="number"  id="inputEtoiles" value={{ epreuve.etoiles }}></input>
  </div>
  <div id="blockediteur" class="block">
    <nav>
      <div id="btnsEditeur">
        <div id="btnEnonce" class="btn colle" onclick="selectEnonce()">
          Enoncé
        </div><div id="btnData"  class="btn colle" onclick="selectData()">
          Data
        </div><div id="btnTest" class="btn colle" onclick="selectTest()">
          Test
        </div><div id="btnSolution" class="btn colle" onclick="selectSolution()">
          Solution
        </div>
      </div>
      <div id="btnsTools">
        <div id="btnImage" class="btn" onclick="showImages()"> 
          Insérer image
        </div>
      </div>
    </nav>
    <div id=editeur_container class="editContainer">
      <div id="editeur"></div>
      <div id="preview" class="preview"></div>
    </div>
  </div>

  <div id=editEpreuveBtns>
    <div id="editEpreuveeBtnEnregistrer" class="btn btnOk" onclick="submit()">
      Enregistrer
    </div>
    <div id="editEpreuveBtnSupprimer" class="btn btnDanger" onclick='$("#supprConfirm").show();$("#editEpreuveBtnSupprimer").hide()'>
      Supprimer
    </div>
    <div id="supprConfirm">
      <div id="editEpreuveBtnSupprimerAnnul" class="btn btnOk" onclick='$("#supprConfirm").hide();$("#editEpreuveBtnSupprimer").show()'>Annuler suppression</div>
      <div id="editEpreuveBtnSupprimerConf" class="btn btnDanger" onclick="supprEpreuve()">Confirmer suppression</div>
    </div>
  </div>
</section>

<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  let sesEnonce = null;
  let sesData = null;
  let sesSolution = null
  let sesTest = null

  let pyodide = null

  let data = {}

  async function load_pyodide(){
        pyodide = await loadPyodide();
        await pyodide.loadPackage("numpy");
        pyodide.runPython("import numpy as np");
        pyodide.runPython("import numpy.random as rd");
        $("#overlay_loading").hide();
        updateData();
        updateEnonce();
  }

  load_pyodide();

  window.onload = function(){
    $('#div_images').hide();

    var divEditeur = document.createElement('editeur');
    editor = ace.edit("editeur");
    editor.setTheme("ace/theme/clouds");

    sesEnonce = ace.createEditSession("{{ epreuve.enonce | escapejs }}");
    sesEnonce.setMode("ace/mode/html");
    sesEnonce.setUseWrapMode(true);

    sesData = ace.createEditSession("{{ epreuve.dataFunc | escapejs}}");
    sesData.setMode("ace/mode/python");
    sesData.setUseWrapMode(true);

    sesSolution = ace.createEditSession("{{ epreuve.solution | escapejs}}");
    sesSolution.setMode("ace/mode/html");
    sesSolution.setUseWrapMode(true);

    sesTest = ace.createEditSession("{{ epreuve.testFunc | escapejs}}");
    sesTest.setMode("ace/mode/python");
    sesTest.setUseWrapMode(true);

    editor.clearSelection();

    sesEnonce.on("change", function(delta){
      updateEnonce();
    });

    sesSolution.on("change", function(delta){
      updateSolution();
    });

    sesData.on("change", function(delta){
      updateData();
    });

    editor.setSession(sesEnonce);
    updateEnonce();

    $("#supprConfirm").hide();
    selectEnonce();
  }

  function submit(){
    console.log("submit");
    let data = {};
    data['titre'] = $('#inputTitre').val();
    data['etoiles'] = $('#inputEtoiles').val();
    data['enonce'] = sesEnonce.getValue();
    data['dataFunc'] = sesData.getValue();
    data['testFunc'] = sesTest.getValue();
    data['solution'] = sesSolution.getValue();

    $.ajax({
      url:"/administration/editEpreuve/{{ epreuve.id }}/",
      data:JSON.stringify(data),
      method:'POST',
      headers: {'X-CSRFToken': Cookies.get("csrftoken")},
    }).done(function(data){
      if (data['resultat']){
        showNotif("Sauvegarde réussie");
        setTimeout(hideNotif,3000); 
      } else {
        showNotif("Sauvegarde échouée");
        setTimeout(hideNotif,3000); 
      }
    })
    event.preventDefault();
  }

  function supprEpreuveConf(){
    $('#EditEpreuveBtnSupprimerConf').show();
  }

  function supprEpreuve(){
    $.ajax({
      url:"/administration/delEpreuve/{{ epreuve.id }}/",
      method:'POST',
      headers: {'X-CSRFToken': Cookies.get("csrftoken")},
      success: function(data){
        document.location = '/domaine/{{ epreuve.chapitre.domaine.id }}/'
      }
    });
  }

  function updateEnonce(){
      $("#preview").html(sesEnonce.getValue());
    for(const [key, value] of Object.entries(data)){
        $("#preview #"+key).html(value.toLocaleString(undefined,
 {'minimumFractionDigits':0,'maximumFractionDigits':6}))
      }
      MathJax.typeset();
  }
  function updateSolution(){
      $("#preview").html(sesSolution.getValue());
      MathJax.typeset();
  }
  function updateData(){
      $("#preview").html("");
      try{
        pyodide.runPython(sesData.getValue());
        pyodide.runPython("data = dataFunc(0)");
      } catch (error) {
        $("#preview").html(error);
        return
      }
      output  =""
      data = {};
      for(const key of Object.keys(pyodide.globals.data)){
        data[key] = pyodide.globals.data[key];
        output += key + " : " + pyodide.globals.data[key] + "</br>";
      }
      $("#preview").html(output);
  }
  function updateTest(){
      $("#preview").html("");
  }

  function selectEnonce(){
    editor.setSession(sesEnonce);
    $("#blockediteur .btn").removeClass("selected");
    $("#btnEnonce").addClass("selected");
    updateEnonce();
  }
  function selectSolution(){
    editor.setSession(sesSolution);
    $("#blockediteur .btn").removeClass("selected");
    $("#btnSolution").addClass("selected");
    updateSolution();
  }
  function selectData(){
    editor.setSession(sesData);
    $("#blockediteur .btn").removeClass("selected");
    $("#btnData").addClass("selected");
    updateData();
  }
  function selectTest(){
    editor.setSession(sesTest);
    $("#blockediteur .btn").removeClass("selected");
    $("#btnTest").addClass("selected");
    updateTest();
  }

  function showImages(){
    $("#div_images").show();
    $.ajax({
      url:"/api/images/{{ epreuve.chapitre.domaine.id }}/",
      method:'GET',
      headers: {'X-CSRFToken': Cookies.get("csrftoken")},
      success: function(data){
        html = "";
        for(const i of data){
          html += "<img src="+i.url+" onclick=\"useImage(this)\" width=100px></img><br/>";
        }
        $("#image-container").html(html);
        
      }
    })
  }

  function useImage(img){
    var el = document.createElement('a');
    el.href = img.src
    $("#div_images").hide();
    editor.session.insert(editor.getCursorPosition(), "<div class=\"figure\"><img src=\""+el.pathname+"\"> </img></div>")
  }

  function arrayBufferToBase64( buffer ) {
    var binary = '';
    var bytes = new Uint8Array( buffer );
    var len = bytes.byteLength;
    for (var i = 0; i < len; i++) {
      binary += String.fromCharCode( bytes[ i ] );
    }
    return window.btoa( binary );
  }

  let uploadFilename = null;

  function importImage() {
    let input = document.createElement('input');
    input.type = 'file';
    input.onchange = _ => {
      // you can use this method to get file and perform respective operations
      let files =   Array.from(input.files);
      uploadFile(files[0]);
    };
    input.click();
  }

  function fileLoaded(event){
    file = arrayBufferToBase64(event.target.result);
    filename = uploadFilename;
  
    $.ajax({
      url:"/api/uploadimage/{{ epreuve.chapitre.domaine.id }}/",
      method:'POST',
      headers: {'X-CSRFToken': Cookies.get("csrftoken")},
      data:JSON.stringify({
        "filename":filename,
        "file":file
      }),
      success: function(data){
        showImages()          
      }
    })
  }

  function uploadFile(file){
    uploadFilename = file.name;
    const reader = new FileReader();
    reader.addEventListener('load', fileLoaded);
    reader.readAsArrayBuffer(file);
  }

  function hideNotif(){
    $(".notification").removeClass("active");
  }
  function showNotif(message){
    $(".notification #message").html(message);
    $(".notification").addClass("active");
  }


  //    form = document.getElementById("epreuve_form");
  //    form.setAttribute("onsubmit","copyCode()");
</script>
{% endblock %}

